body {
    background-color: #7699DB;
}

#main {
    background-color: #D7DEF8;
    border: 2px solid white;
    width: 300px;
}

#main p {
    background-color: #FFA07A;
    margin: 0;
    text-align: center;
    height: 25px;
    line-height: 25px;
}

#tips {
    height: 100px;
    line-height: 25px;
    text-align: center;
}

main div {
    border: 1px solid white;
}

#btn_login {
    background-color: #FFC080;
    margin-left: 110px;
    width: 80px;
    height: 25px;
}